/* Projet SWIFFER connect */
/*----------------------------------*/

/*### Nico ###*/

/*### Ambroise ###*/



/*### Ricky ###*/
html
{
	margin:0;
	padding: 0;
	width:100%;
	height:100%;
}

body
{
	background-image: url('../img/bg.png');
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #00ccff;
	margin:0;
	padding: 0;
	width:100%;
	height:100%;
}

header
{
	height: 40px;
	background-color: rgb(37, 37, 37);
	background-image: url('../img/bg-header.png');
	background-repeat: repeat-x;
	width: 100%;
	color: white;
	margin: 0px;
	line-height: 40px;

}

.header
{
	height: 40px;
	line-height: 40px;
}

.wall_bloc
{

}

.nav_left a 
{
	height: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.nav_left a:hover
{
	color: white;
}

.separation_header
{
	margin: auto;
}

.text_degrade
{
    
}



.bloc_page
{
	margin-top: 20px;
}