/* Projet SWIFFER connect */
/*----------------------------------*/

/*### Nico ###*/

/*### Ambroise ###*/



/*### Ricky ###*/
html
{
	margin:0;
	padding: 0;
	width:100%;
	height:100%;
}

body
{
	background-image: url('../img/bg.png');
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #00ccff;
	margin:0;
	padding: 0;
	width:100%;
	height:100%;
}

header
{
	height: 40px;
	background-color: rgb(37, 37, 37);
	background-image: url('../img/bg-header.png');
	background-repeat: repeat-x;
	width: 100%;
	color: white;
	margin: 0px;
	line-height: 40px;

}

.header
{
	height: 40px;
	line-height: 40px;
}

.nav_left
{
	display: inline-block;
}

.nav_left a 
{
	height: 40px;
	color:#bbb;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    padding: 0px 5px;
}

.nav_left a:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    color: white;
}

.nav_right
{
	height: 40px;
    padding: 0px 5px;
    float: right;
    line-height: 40px;
}

.nav_right input
{
	height: 28px;
	color:#bbb;
    background-color: #bbb;
    padding: 0px 5px;
    margin-top: 5px;
}

.recherche
{
	margin-top: 5px;
}

.nav_right-recherche
{
	height: 40px;
    margin: auto;
    padding: 0px 5px;
}

.nav_right input:select
{
	background-color: white;
}

.nav_right form
{
	margin: 0px;
}

.config
{
	padding-bottom: 5px;
}

.separation-header
{
	width: 40px;
	display: inline-block;
	margin: auto;
	height: 40px;
}

.dropdown-menu > li > a
{
	padding: 0px;
}

.dropdown-menu > li
{
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
}

.link_sub
{
	margin: 10px;
}

.sub_avatar
{
	width: 32px;
	height: 32px;
	float: left;
	margin-right:5px;
}

.sub_user
{
	font-size: 15px;
}

.sub_edit
{
	font-size: 13px;
	color: #bbb;
	margin-top: -15px;
	margin-bottom: 0px;
}






.bloc_page
{
	margin-top: 20px;
}